.btnTitle{
    display: inline-flex;
    align-content: center;
    align-items: center;
    cursor: pointer;
    transition: all linear 200ms;
    opacity: 0.9;
    border: none;
    background-color: transparent;
}
.areaBtnTitle span{
    font-size: 16px;
    font-weight: 500;
}
.areaBtnTitle{
    display: flex;
    border-left: 1px solid #d1d1e0;
    padding-left: 14px;
    margin-left: 14px;
    height: 20px;
}

.btnTitle:hover{
    opacity: 1;
}

.btnTitle:hover i{
    transform: scale(1.1);
}

.btnTitle i{
    display: inline-block;
    width: 18px;
    margin-right: 6px;
    color: #C4A07C;
    transition: all linear 200ms;
}
.btnTitle span{
    display: inline-block;
}