.areaAvatar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}
.areaAvatar .avatar, .areaAvatar .avatarIniciais{
    margin-bottom: 10px;
}

.informacoes{
    width: 100%;
}

.areaBtn{
    display: flex;
    margin-top: 10px;
}
.cardAvatar{
    margin-right: 20px;
}

.areaInformacoes{
    width: 100%;
}
.areaInformacoes .container{
    margin-bottom: 20px;
}