.areaAvatar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}
.areaAvatar .avatar{
    margin-bottom: 10px;
}

.informacoes{
    width: 100%;
}

.areaBtn{
    display: flex;
    margin-top: 10px;
}
