.btnIcon{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border: 1px solid #6d819c31;
    background-color: #6d819c21;
    border-radius: 4px;
    padding: 6px 10px;
    cursor: pointer;
    transition: all linear 200ms;
    color: #2b2d42;
}
.btnIcon:hover{
    background-color: #fff;
    /* color: #fff; */
    color: #5856D6;
}